// Code by jrbenny35



doctype html
html
  head
    title
    //Mobile responsive coding
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(href="../styles/material-wfont.css" rel="stylesheet")
    link(href="../styles/material-fullpalette.css" rel="stylesheet")
    //Bootstrap Css
    link(href="../../css/bootstrap4/bootstrap.css", rel="stylesheet")
    //Custom Css
    link(href="../styles/styles.css" rel="stylesheet")
    //link(href="../styles/material-wfont.css" rel="stylesheet")


  body.morePadding
    nav.navbar.navbar-default.navbar-fixed-top.navbar-dark.navbar-material-blue-grey-500
      a.navbar-brand(href="#")
        img(src="../images/logo.jpg")
      ul.nav.nav-pills
        li.nav-item.active
          a.nav-link(href="#") Home
            span.sr-only (Current)
        li.nav-item
          a.nav-link(href="#") Info
        li.nav-item
          a.nav-link(href="#") About
        li.nav-item
          a.nav-link(href="#") Contact
    //Carousel
    .container
      div#myCarousel.carousel.slide(data-ride="carousel")
        ol.carousel-indicators
          li.active(data-target="myCarousel", data-slide-to="0")
          li(data-target="myCarousel", data-slide-to="1")
          li(data-target="myCarousel", data-slide-to="2")
        .carousel-inner(role="listbox")
          .carousel-item.active
            img.first-slide.center-block.img-responsive(src="../images/business-handshake.jpg")
            .container
              .carousel-caption
                h1 Welcome!
                p I hope you enjoy your stay! Scroll down for more or click the link!
                p.btn.btn-secondary.btn-raised(href="#AboutMe", role="button") About me
          .carousel-item
            img.first-slide.center-block.img-responsive(src="../images/sign-here.jpg")
            .container
              .carousel-caption
                h1 Contact Me
                p Contact form if you would like to get in touch with me
                p.btn.btn-secondary.btn-raised(href="#Contact", role="button") Contact Me
          .carousel-item
            img.first-slide(src="../images/930RWB5.jpg")
            .container
              .carousel-caption
                h1 Current Projects
                p Check out some of the things I am working on!
                p.btn.btn-secondary.btn-raised(href="#Projects", role="button") Projects
        a.left.carousel-control(href="#myCarousel", role="button", data-slide="prev")
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
          span.sr-only(Previous)
        a.right.carousel-control(href="#myCarousel", role="button", data-slide="next")
          span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
          span.sr-only(Next)
    //Social Media Links
    div.container.socialMedia.addMargin.shadow-z-4.addMargin#content
      .row
        .col-lg-12.text-center.morePadding.center-block
          h1 Are we connected?
          hr
      .row
        .col-lg-4
          img.img-circle(src="../images/linkedin.png", alt="Linked in", height='140', width="140")
          h2 Linked in Profile
          p This is my linked in
          p.btn.btn-secondary.btn-raised(href="#LinkedIn", role="button") Go take a Look!
        .col-lg-4.leftright
          img.img-circle(src="../images/google_plus_logo.jpg", alt="Linked in", height='140', width="140")
          h2 Google+
          p Add me here as I'll constantly be updating
          p.btn.btn-secondary.btn-raised(href="#LinkedIn", role="button") Go take a Look!
        .col-lg-4
          img.img-circle(src="../images/github_icon.png", alt="Linked in", height='140', width="140")
          h2 Github
          p Come and see my current projects. Don't be afraid to help!
          p.btn.btn-secondary.btn-raised(href="#LinkedIn", role="button") Go take a Look!
    .container-fluid.shadow-z-4.addMargin#myResume
      .container
        .row.featurette
          .col-md-7
            h2.featurette-heading Resume
              span.text-muted  It's outstanding, trust me.
            p.lead This is where I will put my resume link.
            p.btn.btn-default.btn-raised Click Here
          .col-md-5
            img.featurette-image.img-responsive.center-block(src="../images/github_icon.png", alt="Document image", width="400", height="400")
    .container.shadow-z-4.addMargin#features
      .row.featurette
        .col-md-7.col-md-push-5
          h2.featurette-heading Some of the things I am into
            span.text-muted  Most are loud ;)
          p.lead Cool page with more indepth about me.
        .col-md-5.col-md-pull-7
          img.featurette-image.img-responsive.center-block(src="../images/github_icon.png", alt="Document image" , width="400", height="400")
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading Blog
            span.text-muted  If you've made it this far...don't stop!
          p.lead Blog containing posts about technology mainly
        .col-md-5
          img.featurette-image.img-responsive.center-block(src="../images/github_icon.png", alt="Document image", width="400", height="400")
    .container#myFooter
      footer.morepadding
        p &copy; 2015 Coded by Benjamin Forehand Jr

    //JQuery Js Must be first
    script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    //BootStrapJS
    script(type="text/javascript" src="../../js/bootstrap4/bootstrap.min.js")
    //Custom JS
    script(type="text/javascript" src="../customJS/custom.js")
