// Code by jrbenny35



doctype html
html
  head
    title
    //Mobile responsive coding
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scaleable=no")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    //Bootstrap Css
    link(href="../../css/bootstrap.css", rel="stylesheet")
    //Custom Css
    link(href="../styles/styles.css" rel="stylesheet")

  body
    div#main.container
      nav.navbar.navbar-default
        div.container-fluid
          a.navbar-header(href="/")
            div.navbar-brand
              img(src="../images/logo.jpg", alt="SiteLogo")
          div.navbar-collapse.collapse
            //Navbar
            ul.nav.navbar-nav
              li.active
                a(href="#") Home

      div.carousel.slide#myCarousel
      div.row#bigCallout
      div.row#featuresHeading
      div.row#features
      div.row#info
      div.row#moreInfo

    //BootStrapJS
    script(src="../..//js/bootstrap.min.js")
    //JQuery Js
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")

  footer