//
   Created by root on 9/18/15.

h1 This is the administration page
h2 You will be allowed to edit models from this page
h1 Projects
hr
a.btn.btn-default.btn-lg(ng-href="#/admin/create/project") Create Project
table.table.table-striped
  thead
    th Model title
    th Model description
    th Updated on
    th Operations
  tbody
    tr(ng-repeat="project in projects.projects")
      td
        a.link(ng-href = "#/projects/{{project._id}}") {{ project.title }}
      td {{ project.description }}
      td {{ project.updated_On }}
      td
        .btn-group
          a.btn.btn-primary(ng-href = "#/admin/projects/{{project._id}}/edit")
            span.glyphicon.glyphicon-edit
          a.btn.btn-primary(ng-href= "#/admin/projects/{{project._id}}/delete")
            span.glyphicon.glyphicon-remove-circle
h1 Contacts
hr
table.table.table-striped
  thead
    th Contact Name
    th Contact Email
    th Contact Message
    th Date
    th Delete
  tbody(ng-controller="ContactCtrl")
    tr(ng-repeat="contact in contact")
      td
        a.link(ng-href = "#/contact/{{contact._id}}") {{ contact.name }}
      td {{ contact.email }}
      td {{ contact.message }}
      td {{ contact.date }}
      td
        .btn-group
          a.btn.btn-primary(ng-href= "#/contact/{{contact._id}}/delete")
            span.glyphicon.glyphicon-remove-circle
