//
   Created by root on 9/24/15.

form(role="form", ng-controller="ContactDeleteCtrl")
  p Are you sure you want to delete {{ contact.name }} ?
  .form-group
    input.btn.btn-danger(type="submit", ng-click="deleteContact()", value="Yes")
    button.btn.btn-defult(ng-click="back()", value="No") No
