
doctype
html
  head
  body
    h1 Projects
    hr
    h4 Project Title: {{ project.title }}
    p Project Description: {{ project.description }}
    p Last Updated: {{ project.updated_On }}
    p Direct Link: {{ project.link }}
