
<!--Created by root on 9/17/15.
--><!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div id="myPortfolio" class="container-fluid">
      <h1>My Portfolio</h1>
      <hr>
      <div class="container-fluid" id="cards">
        <div class="row" >
          <div ng-repeat="project in projects.projects" class="col-lg-4">
            <div class="card shadow-z-2"><img src="/images/yeoman.png" alt="Document image" class="card-img-top">
              <hr>
              <div class="card-block">
                <h4 class="card-title">{{ project.title }}</h4>
                <p class="card-text">{{ project.description }}</p>
                <div class="span text-muted">Updated on:
                  <p>{{ project.updated_On }}</p>
                </div><a href="{{ project.link }}" role="button" class="btn btn-default">View</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
