
<!--
Created by root on 9/18/15.

-->
<html>
  <head></head>
  <body>
    <form role="form" ng-controller="ProjectEditCtrl">
      <div class="form-group">
        <label for="title" class="control-label">Title</label>
        <input id="title" type="text" ng-model="project.title" placeholder="Enter the project title" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="description" class="control-label">Description</label>
        <input id="title" type="text" ng-model="project.description" placeholder="Enter the project description" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="updated_On" class="control-label">Updated on</label>
        <input id="title" type="text" ng-model="project.updated_On" placeholder="Enter when the project was updated" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="link" class="control-label">Link to Project</label>
        <input id="title" type="text" ng-model="project.link" placeholder="Enter the link to the project" class="form-control"/>
      </div>
      <input type="submit" ng-click="updateProject()" value="Save" class="btn btn-primary"/>
    </form>
  </body>
</html>