//
   Created by root on 8/17/15.

doctype html
html
  head
    title
    //Mobile responsive coding
    meta(name = "viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scaleable=no")
    //Bootstrap Css
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")

    //Custom Css
    link( rel="styleSheet" href="")

  body
    div#main.container
      div.navbar.navbar-fixed-top
      div.carousel.slide#myCarousel
      div.row#bigCallout
      div.row#featuresHeading
      div.row#features
      div.row#info
      div.row#moreInfo

    //BootStrapJS
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
  footer